<h2 class="titulo-grupos">Editar Grupo</h2>
<div class="div-grupos2">

    <form action="/private/{{group._id}}/edit-group" method="POST" enctype="multipart/form-data">
        <div class="contenedor-grupo2">
            <div class="image-crear">
                
                <label for="profile-pic" class="col-form-label">Foto de perfil</label>
                <input type="file" class="form-control" id="profile-pic" aria-describedby="profile-pic" name="image"
                    required>
                <div id="profile-pic" class="form-text">Agrega una foto de perfil.</div>
            </div>
            <div class="div-input">
                <label for="climber-name">Nombre:</label>
                <input type="text" name="name" placeholder="{{groups.name}}">
            </div>
            <div class="texto2">
                <label for="descripcion">¿Describe el contenido de este grupo?</label>
                <textarea name="description" rows="4" cols="50" placeholder="Añade una descripción">
                </textarea>
            </div>
            <button class="boton-crear-grupo" type="submit">Editar</button>
            
        </div>
    </form>
</div>

{{#if error}}
<p>Ha ocurrido un error</p>
{{/if}}
</form>