<h2 class="titulo-grupos">Grupos</h2>
    <a class="boton" href="/private/crear-group">Crear grupo</a>
    
     <div class="div-grupos">
    {{#each groups}}

    <div class="contenedor-grupo">
        <img src="{{this.image}}" alt="imagen">
        <br>
        <h3>{{name}}</h3>
        <br>
        <div class="texto">
        <p>{{description}}</p>
        <br>
        <a class="editar" href="/private/{{_id}}/edit-group">Editar</a>
        </div>
    </div>

    {{/each}}
    </div>


