<main>
<div class="container-menu-principal">
<h1 class="h1">Meet & Train</h1>
<p class="parrafo-principal">La página para encontrar compañeros de deporte en España</p>
<a href="/signup" id="botton-registro">Regístrate Aquí</a>
</div>
<div class="div-imagenes">
    <div>
    <img class="imagen-perfil"src="images/perfil.png" alt="foto1">
    <p class="p-index">Crea tu perfil</p>
    <p class="p-crear">Inscríbete y se parte de nuestra comunidad</p>
    </div>
    <div>
    <img class="imagen-compañeros" src="images/personajes.png" alt="foto2">
    <p class="p-index2">Selecciona compañeros</p>
    <p class="p-selec">Conecta con compañeros de toda España.</p>
    </div>
    <div>
    <img class="imagen-review" src="images/comunidad.png" alt="foto3">
    <p class="p-index3">Únete a eventos</p>
    <p class="p-find">Queda con gente y realiza actividades deportivas</p>
    </div>
</div>
</div>
</main>

