  <div class ="loginAll">
  <h1 class="login">Meet & Train</h1>
  <p>Accesa con tus datos</p>

<form method = "POST" action="/login" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="InputEmail1"  class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">No compartiremos tu información.</div>
  </div>
  <div class="mb-3">
    <label for="InputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="InputPassword1">
  </div>
  <button type="login" id="botton-login" class="btn btn-primary">Conéctate</button>
</form>
</div>

{{errorMessage}}
