
  <div class ="signupAll">
  <h1 class="signup">Meet & Train</h1>
  <p class="parrafo-signup-texto-titulo">Rellena el formulario con tus datos</p>


  <form method = "POST" action="../routes/index" enctype="multipart/form-data">
  <div class="contenedor-formulario">
  <p class="parrafo-signup">Nombre:</p>
  <input class="input-text" name="username" type="text" placeholder="Escribe tu nombre">
  <p class="parrafo-signup">Contraseña:</p>
  <input class="input-text"  name="password" type="password" placeholder="Elije tu contraseña">
  <p class="parrafo-signup">Correo Electronico:</p>
  <input class="input-text" name="email" type="email" placeholder="¿Cual es tu Email?">
  <p class="parrafo-signup">Edad:</p>
  <input class="input-text" type="text" placeholder="¿Que edad tienes?">
  <p class="parrafo-signup">Ciudad:</p>
  <input class="input-text" type="text" placeholder="¿Donde vives?">
  <p class="parrafo-signup">Sexo:</p>
  <div class="contenedor-sexo">
  <input type="radio" name="genero" value="hombre">
  <label for="male">Hombre</label><br>
  <input type="radio" name="genero" value="mujer">
  <label for="female">Mujer</label><br>
  <input type="radio" name="genero" value="otro">
  <label for="otro">Otro</label><br>
  </div>
  <p class="parrafo-signup">¿Que deportes te gusta practicar?</p>
  <div>
  <input type="checkbox" name="surf" value="surf">
  <label for="surf">Surf</label><br>
  <input type="checkbox" name="escalada" value="escalada">
  <label for="escalada">Escalada</label><br>
  <input type="checkbox"name="correr" value="correr">
  <label for="correr">Correr</label>
  <input type="checkbox"name="ciclismo" value="ciclismo">
  <label for="ciclismo">Ciclismo</label>
  <input type="checkbox"name="paddel" value="paddel">
  <label for="paddel">Paddel</label>
  <input type="checkbox"name="futbol" value="futbol">
  <label for="futbol">Futbol</label>
  </div>
<label for="descripcion">¿Que te gusta hacer?</label>
<textarea name="descripcion" rows="4" cols="50" placeholder="Añade una descripción">
</textarea>
  <div class="mb-3 needs-validation">
    <label for="profile-pic" class="col-form-label">Foto de perfil</label>
    <input type="file" class="form-control" id="profile-pic" aria-describedby="profile-pic" name="image" required>
    <div id="profile-pic" class="form-text">Agrega una foto de perfil.</div>

  </div>
  <br>
  <button type="submit" id="botton-signup" class="btn btn-primary">Registrarte</button>
</form>
</div>
</div>


