<div class='usPresent'>
<h1>Meet & Train</h1>
<p>Conoce más acerca a nuestros creadores, su historia e inspiración. <br> Ambos buscando aportar beneficios mediante la combinación entre deportes y tecnología para quienes utilicen nuestra plataforma.</p>
</div>
<div class="founders">
<div class='founder1'>
<img class="founderimg"src="/images/adri.jpg" alt="founder1">
<h2>Adri</h2>
<p>Escalador entusiasta cree en la superación y disciplina que el deporte puede aportar a la gente y busca perpetuar su visión mediante el uso de esta plataforma.</p>
</div>

<div class = 'founder2'>
<img class="founderimg"src="/images/tri.jpg" alt="founder2">
<h2>Tri</h2>
<p>Artista marcial desde temprana edad, ha experimentado los beneficios de interactuar en ambientes deportivos, y como estos pueden ser escenciales en el desarrollo personal. </p>
</div>
</div>



