*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
.superdiv{
  display: flex;
  flex-direction: column;
}
.usPresent h1{
  text-align: center;
    color: rgb(106, 54, 148);
    font-size: 75px;
    font-family: 'Acme';
    margin-top: 100px;

}
.usPresent p{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
    font-size: 20px;
    color: rgb(71, 71, 71);
    margin-bottom: 0px;
}

.founders{
display: flex;
justify-content: space-evenly;
text-align: center;
}
.founder1{
  width: 100%;
  margin-left: 80px;
}
.founder2{
  width: 100%;
  margin-right: 80px;
}
.founders h2{
  margin-top: 15px;
  color:rgb(23, 123, 117);
}
.founders p{
  color: rgb(71, 71, 71);
  margin-right: 80px;
  margin-left: 80px;
}

.founderimg {
  width: 305px;
  height: 285px;
  border-radius: 15px;
}
