/* ------SIGN UP------ */

body {
    display: flex;
    justify-content: center;
    outline: none;
}


/* TITULO */

.signup {
    text-align: center;
    color: rgb(106, 54, 148);
    font-size: 75px;
    margin-top: 50px;
    font-family: 'Acme';
    margin-top: 100px;
}


/* Contenedor principal */

.contenedor-formulario {
    width: 400px;
    height: 800px;
    position: absolute;
    top: 45%
}

.parrafo-signup-texto-titulo {
    font-family: 'Acme';
    font-size: 20px;
    position: absolute;
    top: 32%;
    left: 39.5%;
}

.parrafo-signup {
    margin: 0%;
    padding-left: 10px;
}

.input-text {
    width: 100%;
    margin-bottom: 4%;
    outline: none;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding-left: 10px;
}

.contenedor-sexo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
}

.div-deportes {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.div-deportes-seccion1 {
    display: flex;
    flex-direction: column;
}

.div-deportes-seccion2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

#botton-signup {
    border-radius: 50px;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 18px;
    background-color: rgb(23, 123, 117);
    text-align: center;
    position: absolute;
    top: 93%;
    left: 25%;
}